# Menu principal para o ISOLINUX
#
# Gabriel Marques - snortt@gmail.com
#
# Seg Mar 23 13:12:24 BRT 2015


# Lembre-se de que a entrada [0] é o seu title [ GabiXLL Live ] ;-)
# Assim, a entrada [1] é o primeiro item dentro de [ GabiXLL Live ]

default vesamenu.c32
menu background linux.png
timeout 100
prompt 0

menu title Bem vindo ao GabiXLL Live!

label Normal
    menu label ^GabiXLL
    menu indent 4
    kernel /boot/vmlinuz-3.3.1-gabix selinux=0 ip_config="dhcp " vga=791 quiet modulos="vfat "
    append initrd=/boot/initrd-3.3.1-gabix 

label NormalStaticIp
    menu label GabiXLL-StaticIP
    menu indent 4
    kernel /boot/vmlinuz-3.3.1-gabix selinux=0 ip_config="static 10.0.0.1 255.0.0.0 10.0.0.100 10.0.0.254" vga=791 quiet modulos="vfat " 
    append initrd=/boot/initrd-3.3.1-gabix 

label Safe    
    menu label GabiXLL - ^Modo seguro
    menu indent 4
    kernel /boot/vmlinuz-3.3.1-gabix noacpi acpi=off apm=power-off selinux=0 vga=791 quiet modulos="vfat"
    append initrd=/boot/initrd-3.3.1-gabix 


# System
label Local
    menu label Boot ^Local
    menu indent 4
    kernel vesamenu.c32
    append isolinuxlocal.cfg

# MemTest
label Tools
    menu label ^Ferramentas
    menu indent 4
    kernel vesamenu.c32
    append isolinuxtools.cfg

# Altura do menu
menu rows 7
# Largura do menu
menu width 60
# Altura da mensagem "Press TAB for options..."
menu tabmsgrow 21
# Deslocamento vertical do menu.
# De cima pra baixo, se positivo.
# De baixo pra cima, se negativo.
menu vshift 2
# Deslocamento horizontal do menu.
# Para a direita, se positivo.
# Para a esquerda, se negativo.
menu hshift 10
# Altura da linha com a contagem regressiva.
menu timeoutrow 0

menu autoboot Iniciando o GabiXLL em # segundos{,s}...
menu tabmsg Pressione ENTER para iniciar ou TAB para editar as opcoes de boot
menu color border       30;44      #00000000 #00000000 none
menu color sel          7;37;40    #e0000000 #200080ff all
menu color hotsel       1;7;37;40  #e0400000 #200080ff all
